
.customSlider {
    max-width: 300px;
    margin: auto;
}

.customSliderTrack{
    /* Top value to align your track to the center of your thumb */
    top: 8px;
    /* thickness of the track */
    height: 4px;
    /* default color of your track */
    background: #7b5454;
}

.customSliderTrack.customSliderTrack-0 {
    /* color of the track before the thumb */
    background: #230a0a;
}
.customSliderThumb {
    cursor: pointer;
    /*color for the thumb */
    background: #51493D;
    width: 15px;
    height: 13px;
    border-radius: 100%;
padding-top: .7rem;
    outline: none;
    font-size: .9rem;
}

.customSliderThumb:hover {
    box-shadow: 0 0 0 1px #51493D;
}