.mySwiper {
    width: 96%;
    margin: 0 auto;
    height: 85px;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(72, 72, 72, 1);
    border-radius: 5px;

}

.mySwiper2 {
    width: 100%;
    direction: ltr;
    height: 420px;
    margin-bottom: 2.5rem;
    border: 1px solid rgba(72, 72, 72, 1);
    border-radius: 5px;
}
@media (max-width: 500px) {
    .mySwiper2{
        height: 380px;
    }
    
}
.mySwiper2 img {
    width: 100%;
    height: 100%;

}